#game{
    grid-template-columns: repeat(20, minmax(0, 1fr));
    grid-template-rows: repeat(20, minmax(0, 1fr));
    grid-gap: 2px;
}

.action{
    font-weight: 800;
}

.images{
    width: 100%;
    height: 742px;
    object-fit: cover;
    
}

.boardGame{
    display: none;
}


